<!-- Modal -->
<div class="modal fade" id="newNoteModal" tabindex="-1" aria-labelledby="newNoteModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="newNoteModalLabel">Create Note</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="/notes/new" method="POST">
					<div class="mb-3">
						<label for="noteTitle" class="form-label">Note Title</label>
						<input type="text" class="form-control" id="noteTitle" name="title" aria-describedby="noteHelp">
						<div id="noteHelp" class="form-text">We'll never share your email with anyone else.</div>
					</div>
					<button type="submit" class="btn btn-primary">Create Note</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<!--<button type="button" class="btn btn-primary">Create Note</button>-->
			</div>
		</div>
	</div>
</div>

<!-- Modal for New Notebook -->
<div class="modal fade" id="newNotebookModal" tabindex="-1" aria-labelledby="newNotebookModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="newNotebookModalLabel">Create Notebook</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- Add your form for creating a new notebook here -->
				<!-- TODO: Fix this end point to point to notebooks "/notebooks/new"  not notes -->
				<form action="/notes/newNotebook" method="POST">
					<div class="mb-3">
						<label for="notebookTitle" class="form-label">Notebook Title</label>
						<input type="text" class="form-control" id="notebookTitle" name="title"
							aria-describedby="notebookHelp">
						<div id="notebookHelp" class="form-text">We'll never share your email with anyone else.</div>
					</div>
					<button type="submit" class="btn btn-primary">Create Notebook</button>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<!-- Bootstrap JS -->
<script src="/vendor/jquery/jquery.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/plugins.js"></script>
</body>

</html>