<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="shortcut icon" href="https://assets.codepen.io/1674766/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="https://assets.codepen.io/1674766/apple-touch-icon.png" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/styles/main.css">
  <title><%= title %></title>
</head>
<body>
