<%- include('partials/_header') %>

<header class="navbar border-dark border-bottom p-1">
  <nav class="btn-group">
    <a class="btn btn-sm" href="/">Home</a>
  </nav>
  <nav class="btn-group">
    <a class="btn btn-sm" href="/logout">Logout</a>
  </nav>
</header>

<main>
  <%= note.body %>
</main>

<%- include('partials/_footer') %>
