<%- include('partials/_header') %>

  <header class="navbar border-dark border-bottom p-1">
    <nav class="btn-group"></nav>
    <nav class="btn-group">
      <a class="btn btn-sm" href="/login">Login</a>
      <a class="btn btn-sm" href="/register">Register</a>
    </nav>
  </header>

  <main class="container">
    <div class="bg-body-tertiary p-5 rounded mt-3">
      <h1>Editorial Express</h1>
      <p class="lead">Start taking notes.</p>
      <a class="btn btn-lg btn-primary" href="/" role="button">Try the editor &raquo;</a>

    </div>
  </main>

</body>

</html>

