<%- include('partials/_header') %>

  <header class="navbar border-dark border-bottom p-1">
    <nav class="btn-group">
      <a class="btn btn-sm" href="/">Home</a>
    </nav>
    <nav class="btn-group">
      <a class="btn btn-sm" href="/login">Login</a>
    </nav>
  </header>

  <main class="container">
    <div class="bg-body-tertiary p-5 rounded mt-3">
      <h1>Register</h1>
      <form action="/register" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
      <p class="mt-3 text-danger"><%= message %></p>
    </div>
  </main>

<%- include('partials/_footer') %>
